.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .header{
    text-align: center;
  }
  .example-card{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  button.mat-raised-button{
    font-size: 20px;
    height: 40px;
    margin-left: 200px;
  }
  .footer{
    font-size: 12px;
    text-align: center;
  }
  .footer button.mat-button{
    font-size: 12px;
    text-align: center;
    
  }