<mat-card class="example-card">
    <mat-card-content>
        <div class="header">
            <h2>Log In</h2>
        </div>
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input type="email" matInput [formControl]="emailFormControl" placeholder="Enter your email">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" matInput [formControl]="emailFormControl" placeholder="Enter your password">
              </mat-form-field>
                <button mat-raised-button color="primary">Login</button>
                <div class="footer">
                    <p>Don't have account?  
                        <a [routerLink]="'/signup'">SignUp</a>
                    </p>
                </div>
          </form>
    </mat-card-content>
</mat-card>
