<mat-card class="example-card">
    <mat-card-content>
        <div class="header">Profile</div>
        <div mat-card-avatar class="example-header-image"></div>
        <table class="example-table">
           <tr aria-colspan="2">
            <th>Full Name</th> 
            <th>Mohamed Iqbal Fathima Rizna</th>
           </tr> 
           <tr aria-colspan="2">
            <th>Email</th>
            <th>riziqbal97@gmail.com</th>
           </tr> 
           <tr aria-colspan="2">
            <th>User Name</th>
            <th>fathima_rizna</th>
           </tr> 
           <tr aria-colspan="2">
            <th>Password</th>
            <th>12345</th>
           </tr> 
        </table>
        
    </mat-card-content>
</mat-card>
